In [9]:
%matplotlib inline

import math
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt

from collections import defaultdict
from datetime import datetime
from scipy.stats.stats import pearsonr

# TYPE ATTRIBUTES

In [14]:
# loading dataset

custom_date_parser = lambda x: datetime.strptime(x, "%d/%m/%y %H:%M")

df = pd.read_csv('customer_supermarket.csv', sep='\t', decimal=',',
                 parse_dates=['BasketDate'], date_parser=custom_date_parser, index_col=0)

df['CustomerID'] = df['CustomerID'].astype(float)

In [15]:
df.dtypes

BasketID                   object
BasketDate         datetime64[ns]
Sale                      float64
CustomerID                float64
CustomerCountry            object
ProdID                     object
ProdDescr                  object
Qta                         int64
dtype: object

Data type:

Dataset = Data matrix


Checked

-BasketID (string in ID) -> nominal/categorical
-CustomerID = cast to float -> categorical
-BasketDate (date format not supported) = custom date format -> interval attributes
-Sale (format not correct) = custom decimal delimiter -> numerical ratio
-CustomerCountry -> nominal/categorical
-ProdId -> nominal/categorical
-ProdDescr -> categorical
-CustomerCountry -> categorical
-Qta -> numerical ratio

# DATA QUALITY

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 471910 entries, 0 to 541909
Data columns (total 8 columns):
BasketID           471910 non-null object
BasketDate         471910 non-null datetime64[ns]
Sale               471910 non-null float64
CustomerID         406830 non-null float64
CustomerCountry    471910 non-null object
ProdID             471910 non-null object
ProdDescr          471157 non-null object
Qta                471910 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 32.4+ MB

In [30]:
df.isnull().any()

BasketID           False
BasketDate         False
Sale               False
CustomerID          True
CustomerCountry    False
ProdID             False
ProdDescr           True
Qta                False
dtype: bool

In [17]:
df.describe()

                Sale     CustomerID            Qta
count  471910.000000  406830.000000  471910.000000
mean        4.030945   15287.684160      10.716533
std        83.769380    1713.603074     231.355136
min    -11062.060000   12346.000000  -80995.000000
25%         1.250000   13953.000000       1.000000
50%         2.080000   15152.000000       4.000000
75%         3.750000   16791.000000      12.000000
max     38970.000000   18287.000000   80995.000000

In [29]:
print("Distinct Values in CustomerCountry: \t", df.CustomerCountry.unique())

Distinct Values in CustomerCountry: 	 ['United Kingdom' 'France' 'Australia' 'Netherlands' 'Germany' 'Norway'
 'EIRE' 'Switzerland' 'Spain' 'Poland' 'Portugal' 'Italy' 'Belgium'
 'Lithuania' 'Japan' 'Iceland' 'Channel Islands' 'Denmark' 'Cyprus'
 'Sweden' 'Austria' 'Israel' 'Finland' 'Bahrain' 'Greece' 'Hong Kong'
 'Singapore' 'Lebanon' 'United Arab Emirates' 'Saudi Arabia'
 'Czech Republic' 'Canada' 'Unspecified' 'Brazil' 'USA'
 'European Community' 'Malta' 'RSA']

Summary

BasketID = wrong data
Sale = wrong data: min/max negative and huge or outliers 
CustomerID = missing values
CustomerCountry = special value 'Unspecified' in the domain
ProdDescr = missing values
Qta = wrong data: min/max negative and huge or outliers